@import 'greeter';

body {
  font: 20px sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.notice {
  font-family: monospace;
  background-color: #cbcbcb;
  padding: 1rem;
}

img {
  height: 350px;
}
